body
{
text-align: left;
}
#w3villa_sidebar
{
border-left: 1px solid black;
}
#w3villa_footer
{
width: 100%;
border-top: 1px #a2a2a2 solid;
text-align: center;
}
.title
{
font-size: 11pt;
font-family: verdana;
font-weight: bold;
}
